{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p>This website is developed by Yab Lemma and Michael Cafiero. It has been developed with the use of Django, bootstrap, and jquery. 
    Aside from the basic implementation of the library management system, multiple creative ideas has been incorporated.</p>

<h3>Creative Portion I - Room Management System</h3>
<p>Users are able to book study rooms from the library. A list of available rooms will be displayed in the home page along with the
    availability to book each one. Users can also checkout of the room they rented. Users can only book one room at a time.</p>

<h3>Creative Portion II - Librarians</h3>
<p>The website has been implemented with admins(employees) which have the ability to add new items to the library. A separate login has been
    created for employees.</p>

{% endblock %}
